<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
         First App
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
  <body>
     <h1> Hello this is index file</h1>
     <h1>Hi {{ person.firstname }} {{ person.lastname }}</h1>
     <h1>Today it is {{ weather }}</h1>
     <h1>Image</h1>
     <img src='{% static "/images/im.jpg" %}' alt="uh oh" />

  </body>
</html>